.animal-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Para empilhar os elementos verticalmente */
  min-height: 100vh; /* Para centralizar verticalmente */
  padding: 20px; /* Para garantir espaçamento nas bordas da tela */
}

.animal-cadastro {
  background-color: #89a7b1; /* Cor de fundo do formulário */
  padding: 20px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  width: 90%; /* Largura responsiva */
  max-width: 500px; /* Largura máxima do formulário */
  margin: auto; /* Centraliza horizontalmente */
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="url"] {
  width: 100%; /* Largura total */
  padding: 10px; /* Espaçamento interno */
  margin: 5px 0; /* Margem superior e inferior */
  border: 1px solid #ccc; /* Borda do campo */
  border-radius: 4px; /* Bordas arredondadas */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

button.btn-custom {
  margin-top: 20px; /* Espaçamento acima do botão */
  padding: 10px 15px; /* Espaçamento interno do botão */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas do botão */
  background-color: #2e4347; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  cursor: pointer; /* Mão ao passar o mouse sobre o botão */
  width: 100%; /* Largura total do botão */
}

button.btn-custom:hover {
  background-color: #1f2a2d; /* Cor de fundo ao passar o mouse */
}

.imagen-cadastrar-animal {
  position: fixed; /* Posição fixa inicialmente */
  bottom: 20px; /* Distância do fundo */
  right: 20px; /* Distância da direita */
  width: 150px; /* Tamanho do logo */
  height: auto; /* Mantém a proporção */
}

/* Media Queries para Responsividade */
@media (max-width: 780px) {
  .imagen-cadastrar-animal {
    position: relative; /* Muda para posição relativa */
    bottom: auto; /* Remove a distância do fundo */
    right: auto; /* Remove a distância da direita */
    margin-top: 20px; /* Espaçamento acima da imagem */
    width: 100px; /* Tamanho reduzido da imagem em telas menores */
  }
}

@media (max-width: 480px) {
  .imagen-cadastrar-animal {
    width: 80px; /* Tamanho ainda menor para telas muito pequenas */
  }
}
