/* Cores da paleta */
.color1 { background-color: #ffb884; }
.color2 { background-color: #f5df98; }
.color3 { background-color: #fff8d4; }
.color4 { background-color: #c0d1c2; }
.color5 { background-color: #2e4347; }

/* Corpo da página */
body {
    background-color: #fff8d4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinha para o topo */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Centralizando conteúdo principal */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative; /* Para o logo ser posicionado em relação a este contêiner */
}

/* Estilos para a imagem do logo */
.logo-usuario {
    position: fixed; /* Alinhado ao contêiner */
    bottom: 20px; /* Distância do fundo da página */
    right: 20px; /* Distância da direita */
    width: 150px; /* Ajuste conforme necessário */
    height: auto;
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
}

/* Botão de cadastro */
.button, button[type="submit"] {
    background-color: #f5df98;
    color: #2e4347;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button:hover, button[type="submit"]:hover {
    background-color: #ffb884;
}

/* Tabela de Usuários */
.table {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .home-container {
        padding: 15px;
    }

    .table {
        font-size: 0.9rem;
    }

    .button, button[type="submit"] {
        width: 90%;
        padding: 8px 12px;
    }

    /* Ajuste do logo para telas menores */
    .logo {
        width: 35px; /* Diminuindo o tamanho do logo em telas menores */
        bottom: 10px;
        right: 10px; /* Mantém o logo dentro da tela em telas pequenas */
    }
}
