/* Contêiner pai para centralizar o formulário */
.form-wrapper-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura da tela */
  width: 100%; /* Largura completa */
  background-color: #fff8d4; /* Opcional: cor de fundo para o contêiner */
}

/* Estilos do formulário */
.form-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff8d4;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leve sombreamento */
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container input {
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #fff8d4;
  border-radius: 4px;
  font-size: 16px;
}

.btn-custom {
  background-color: #007bff;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-custom:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }

  .form-container input {
    padding: 8px;
    font-size: 14px;
  }

  .btn-custom {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .form-container {
    max-width: 90%;
  }
}
